// Font Weight
$ultra: 800;
$bold: 700;
$semibold: 500;
$regular: 400;
$light: 300;
$thin: 100;

// Color
$white: #FFFFFF;
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);

// Theme Color
$accent: #2196F3;

// Layout Settings
$max-width: 1280px;
$columns: 4;
$gutters: 20px;