.footer {
  background: #212121;
  padding: ($gutters / 2) 0;

  .col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    margin: ($gutters / 2) 0;
    color: rgba($white, 0.8);
    font-size: 12px;
    font-weight: $semibold;
    text-transform: uppercase;
  }

  .nav {
    margin: ($gutters / 2) 0;

    li {
      &.active {
        a {
          color: $white;
        }
      }
    }

    a {
      color: rgba($white, 0.8);

      &:hover {
        color: $white;
      }
    }
  }
}