/* Container */
.container {
  position: relative;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $gutters;
  box-sizing: border-box;

  // Fluid Container
  &[fluid] {
    max-width: 100%;
  }
}

/* Row */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (-$gutters / 2);
}

/* Column */
.col {
  position: relative;
  padding: 0 ($gutters / 2);
  box-sizing: border-box;

  @for $i from 1 through $columns {
    &-#{$i} {
      width: percentage($i / $columns);
      flex-basis: percentage($i / $columns);
    }
  }
}

@include media(tablet) {
  .col {
    width: 100%;
    flex-basis: 100%;
  }
}