.page {
  z-index: 20;
  position: relative;
  background: $white;
  width: 90%;
  max-width: 1920px;
  box-shadow: 0 0 30px rgba($black, 0.2);
  margin: 100px auto 0;
  transition: 0.3s ease;

  &.expand {
    width: 100%;
    margin: 0 auto;
  }
}