.testimonials {
  position: relative;
  background: $accent;
  padding: ($gutters * 3) 0;
  color: $white;
  text-align: center;

  // Testimonial
  .testimonial {
    display: none;
    max-width: 768px;
    margin: 0 auto;

    &.active {
      display: block;
    }
  }

  .quote {
    margin: 0 0 $gutters;
    font-style: italic;

    &:before,
    &:after {
      content: '"';
    }
  }

  .meta {
    display: inline-block;

    .avatar {
      display: inline-block;
      width: 56px;
      margin: 0 ($gutters / 2) 0 0;
      border-radius: 100%;
      vertical-align: middle;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }

    a {
      color: inherit;
    }
  }

  &-prev {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    color: $white;
  }

  &-next {
    @extend .testimonials-prev;

    right: 0;
    left: auto;
  }
}