.toast {
  z-index: 200;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  background: #323232;
  min-width: 300px;
  border-radius: 2px;
  margin: $gutters;

  @include elevation(2);

  padding: 14px 24px;
  animation: slideInUp 1s ease;
  color: $white;

  p {
    display: inline-block;
    padding: 5px 0;
    vertical-align: middle;
    align-self: flex-start;
  }

  .btn {
    background: 0;
    box-shadow: none;
    margin: 0 0 0 48px;
    padding: 8px 12px;
    vertical-align: middle;
    color: $accent;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}