.toast {
  z-index: 200;
  position: fixed;
  bottom: $gutters;
  left: $gutters;
  background: #323232;
  border-radius: 2px;

  @include elevation(2);

  padding: 14px 24px;
  animation: slideInUp 1s ease;
  color: $white;

  .btn {
    background: 0;
    box-shadow: none;
    margin: 0 0 0 48px;
    padding: 8px 12px;
    vertical-align: middle;
    color: $accent;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}