#top {
  position: fixed;
  right: $gutters;
  bottom: $gutters;
  display: block;
  background: $accent;
  width: 56px;
  height: 56px;
  border-radius: 100%;

  @include elevation(1);

  transform-origin: center;
  transform: scale(0);
  opacity: 0;
  color: $white;
  line-height: 56px;
  text-align: center;
  transition: 0.3s ease;

  &:hover {
    @include elevation(3);
  }

  &.visible {
    transform: scale(1);
    opacity: 1;
  }
}