// Fonts
@import "../base/fonts";

// Colors
@import "../base/colors";

// Mixins
@import "../base/mixins";

// Header
.header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 (10% / 2);
  box-sizing: border-box;
  transform: translateX(-50%);
  transition: 0.3s top ease, 0.3s background ease;

  &.hide {
    top: -200px;
  }

  &.fixed {
    position: fixed;
    background: $white;
    height: 80px;
    top: 0;
    box-shadow: 0 0 15px rgba($black, 0.1);

    .logo {
      fill: $accent;
    }

    .nav {
      li {
        &.active {
          a {
            color: $accent;
          }
        }
      }

      a {
        color: $gray;
      }

      .btn {
        background: $accent;
        color: $white;
      }
    }
  }
}

// Logo
.logo {
  fill: $white;
  height: 30px;
}

@include media(phone) {
  .brand {
    margin: 0 auto;
  }
}