// Fonts
@import "../base/fonts";

// Colors
@import "../base/colors";

// Mixins
@import "../base/mixins";

$height: 100px;

// Header
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $height;
  padding: 0 (10% / 2);
  box-sizing: border-box;
  text-shadow: 0 2px 2px rgba($black, 0.2);
  transform: translateX(-50%);
  transition: 0.3s ease, width 0.3s ease 0.3s;
}

// Brand
.brand {}

// Logo
.logo {
  height: 30px;
}

@include media(phone) {
  .brand {
    margin: 0 auto;
  }
}