// Fonts
@import "../base/fonts";

// Colors
@import "../base/colors";

// Information
.reasons {
  padding: 48px 0;
}

// Blurb
.blurb {
  margin: 24px 0;
  padding: 0 24px;
  text-align: center;

  .icon {
    margin: 0 0  48px;
    color: $gray;
    font-size: 48px;
    font-weight: $bold;
    transition: 0.3s ease;
  }

  .title {
    margin: 0 0 24px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }

  p {
    font-size: 16px;
    line-height: 1.8em;
    text-align: left;
  }

  &:hover {
    .icon {
      color: $accent;
      opacity: 0.8;
      animation: pulse 1s infinite;
    }

    .title {
      color: $accent;
    }
  }
}

.case-study {
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  background-size: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 80px 0;
  box-sizing: border-box;
  color: $white;

  &.light-background {
    color: $gray;

    .date {
      color: rgba($gray, 0.8);

      b {
        color: $gray;
      }
    }
  }

  .date {
    margin: 0 0 20px;
    color: rgba($white, 0.8);
    text-transform: uppercase;

    b {
      border-bottom: 1px solid $white;
      padding: 0 0 4px;
      color: $white;
      font-weight: $semibold;
    }
  }

  .title {
    margin: 0 0 20px;
    color: inherit;
    font-weight: $light;
  }

  .excerpt {
    margin: 0 0 40px;
  }

  .btn {
    margin: 0 10px 0 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}