// Fonts
@import "../base/fonts";

// Colors
@import "../base/colors";

// Nav
.nav {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }

    a {
      color: rgba($white, 0.8);
      font-size: 12px;
      font-weight: $semibold;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s ease;

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
        font-weight: $bold;
      }
    }
  }
}