@import "../base/base";

// Nav
.nav {
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }

    &.active {
      a {
        color: $accent;
      }

      .btn {
        background: $accent;
        color: $white;
      }
    }
  }

  a {
    color: rgba($white, 0.8);
    font-size: rem(14);
    font-weight: $regular;
    letter-spacing: 1.05px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: $white;
    }
  }

  .btn {
    display: block;
    background: 0;
    box-shadow: inset 0 0 0 1px $accent;
    color: $accent;

    &:hover {
      color: $accent;
    }
  }

  &-bottom {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background: $white;
    width: 100%;
    box-shadow: 0 0 4px rgba($black, 0.1);

    ul {
      display: flex;
      flex-wrap: nowrap;
    }

    li {
      width: 25%;
      flex-basis: 25%;
      margin: 0;
      text-align: center;
    }

    a {
      display: block;
      color: $gray;
      padding: 12px 0;

      &:hover {
        color: $dark-gray;
      }

      &.active {
        color: $accent;
      }

      .icon {
        display: block;
        margin: 0 0 4px;
        font-size: rem(24);
        font-weight: $bold;
      }
    }
  }
}

@include media(phone) {
  .nav {
    display: none;

    &-bottom {
      display: block;
    }
  }
}