template(name='home')
  section(class='information')
    div(class='container'): div(class='row')
      div(class='col col-4')

        // Blurb
        div(class='blurb'
            animation-id='4')
          i(class='icon pe-7s-like')
          h4(class='title') Passionate
          p When it comes to writing clean &amp; beautiful code, you\'ll see a whole new side of me! Spending over 12 hours pouring myself into code, that\'s what you call passionate!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='4')
          i(class='icon pe-7s-gleam')
          h4(class='title') Lightning Fast
          p As many of us say, time is money. Which is why everything I work on is done in the most clean &amp; efficient way so that I never miss a deadline!

      div(class='col col-4')
        // Blurb
        div(class='blurb'
            animation-id='4')
          i(class='icon pe-7s-light')
          h4(class='title') Creative
          p Creativity flows in all of us, me included. If I'm not coding, I'm most likely off somewhere letting my creativity loose and brainstroming ideas of what to work on next!