.btn {
  cursor: pointer;
  outline: none;
  display: inline-block;
  background: $white;
  padding: rem(12) rem(24);
  border: 0;
  border-radius: 3px;
  color: $accent;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: rem(16);
  text-decoration: none;
  transition: 0.3s ease;

  &.border {
    background: 0;
    box-shadow: inset 0 0 0 1px $white;
    color: $white;
  }

  &-primary {
    background: $accent;
    color: $white;

    &.border {
      box-shadow: inset 0 0 0 1px $accent;
      color: $accent;
    }
  }
}