.btn {
  cursor: pointer;
  outline: none;
  display: inline-block;
  background: $white;
  padding: rem(12) rem(24);
  border: 0;
  border-radius: 3px;
  color: $accent;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: rem(16);
  text-decoration: none;
  transition: 0.3s ease;

  &:hover,
  &:focus {}

  // Primary
  &.primary {
    background: $accent;
    color: $white;
  }

  // Inverse
  &.inverse {
    background: ligthen($black, 5%);
    color: $white;
  }
}