.information {
  background: $white;
  padding: ($gutters * 2) 0;

  .row {
    align-items: center;
  }

  .title {
    margin: 0 0 $gutters;
  }

  .description {
    margin: 0 0 $gutters;
    font-size: 16px;
    line-height: 1.8em;
  }

  .codepen {
    width: 90%;
    margin: ($gutters * 2) auto;
  }
}