.nav {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }

    &.active {
      a {
        color: $white;

        // color: $accent;
        font-weight: $bold;
      }
    }

    a {
      color: rgba($white, 0.8);

      // color: $gray;
      font-size: 12px;
      font-weight: $semibold;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s ease;

      &:hover {
        color: $white;
      }
    }
  }

  .overlay & {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
      flex-direction: column;
    }

    li {
      margin: ($gutters / 2) 0;
      opacity: 0;
      transform: translateX(-$gutters);
      transition: 0.3s ease;
      text-shadow: 0 2px 2px rgba($black, 0.2);

      .opened & {
        opacity: 1;
        transform: translateX(0);
      }

      @for $i from 1 through $nav-items {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * 0.1}s;
        }
      }

      &.active {
        a {
          color: $white;
        }
      }
    }

    a {
      color: rgba($white, 0.8);
      font-size: 18px;

      &:hover {
        color: $white;
      }
    }
  }

  // Toggle
  &-toggle {
    position: relative;
    z-index: 100;
    display: none;
    width: 24px;
    height: 18px;

    span {
      display: block;
      background: $accent;
      height: 2px;
      transition: 0.3s ease;

      &:nth-child(2) {
        margin: 6px 0;
      }
    }

    &.toggled {
      span {
        background: $white;

        &:first-child {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}

@include media(tablet) {
  .nav {
    .header & {
      display: none;

      &-toggle {
        display: block;
      }
    }
  }
}