.page {
  z-index: 20;
  position: relative;
  top: 80%;
  background: $white;
  width: 90%;
  max-width: 100%;
  box-shadow: 0 0 30px rgba($black, 0.2);
  margin: 0 auto;
  transition: 0.3s ease;

  &.expand {
    width: 100%;
  }
}