template(name='nav')
  nav(class='nav'): ul
    each items
      if isResume
        li: a(href=path)=name
      else
        li: a(class=isActive
              href=pathFor(name))=name

    a(class='nav-toggle'
      href='#')
      span
      span
      span