// JavaScript
// bower:js
script(src='../assets/components/jquery/dist/jquery.js')
script(src='../assets/components/jQuery-One-Page-Nav/jquery.nav.js')
script(src='../assets/components/waypoints/lib/jquery.waypoints.min.js')
script(src='../assets/components/typed.js/dist/typed.min.js')
// endbower
script(src='assets/js/recliner.min.js')
script(src='assets/js/scripts.js')