header(class='header')

  // Brand
  div(class='brand')
    +logo

  // Navigation
  nav.nav: ul
    li(class='active'): a(href='/home') Home
    li: a(href='/portfolio') Portfolio
    li: a(href='http://represent.io/andy') Resume
    li: a(href='/contact') Contact

  a(class='nav-toggle'
    href='#')
    span
    span
    span