.footer
  .copyright Copyright &copy; Andy Tran 2015

  nav.nav: ul
    li: a(href='http://codepen.io/andytran'
          target='_blank')
      +icon('codepen', 'fa')
    li: a(href='https://github.com/andyhqtran/'
          target='_blank')
      +icon('github', 'fa')
    li: a(href='http://twitter.com/helloandytran'
          target='_blank')
      +icon('twitter', 'fa')
    li: a(href='https://www.behance.net/andyhqtran'
          target='_blank')
      +icon('behance', 'fa')