.footer
  +container: +row: +col(12)
    .copyright Copyright &copy; Andy Tran 2015

    nav.nav: ul
      li(class='active'): a(href='/home') Home
      li: a(href='/portfolio') Portfolio
      li: a(href='http://represent.io/andy') Resume
      li: a(href='/contact') Contact