template(name='home')
  section.reasons
    .container: .row
      .col.col-4
        // Blurb
        .blurb(animation-id='4')
          i.icon.pe-7s-like
          h4.title Passionate
          p There's not that I love more then writing code. Just ask anyone that I know, they'll surely say the same!

      .col.col-4
        // Blurb
        .blurb(animation-id='5')
          i.icon.pe-7s-gleam
          h4.title Lightning Fast
          p Time is money, which is why I try my best to get everything done as clean &amp; efficient as possible.

      .col.col-4
        // Blurb
        .blurb(animation-id='6')
          i.icon.pe-7s-light
          h4.title Creative
          p If I'm not coding, I'm likely off somewhere letting my mind flow with creativity!

  .section.case-study#case-study-1
    .container: .row
      .col.col-12
        h4 Maverick - App & Software Landing Page
        p Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
        a.btn.btn-primary(href='#') Read More
