template(name='hero')
  section(class='hero')
    div(class='container'): div(class='row'): div(class='col col-12')
      if is404
        +errorText
      else if isShowcase
        +showcaseText
      else if isContact
        +contactText
      else
        +heroText

template(name='heroText')
  div(class='hero-text')
    h1(animation-id='1')
      span(class='greetings')
    p(animation-id='2') A kick-ass front-end website developer based in San Jose, CA.
  span(class='hero-arrow icon pe-7s-angle-down')

template(name='errorText')
  // Error Text
  div(class='hero-text')
    h1(animation-id='1') Uh no! Something doesn't look right here!
    p(animation-id='2') Hey there! Either the page that you have requested is <b>unavailable</b> or still <b>underconstruction</b>.
      br
      | If you would like more information, feel free to <a href='mailto:hello@andytran.me'>contact me</a>.

template(name='showcaseText')
  // Contact Text
  div(class='hero-text')
    h1(animation-id='1')
      span(class='greetings')
    p(animation-id='2') A showcase of projects that I have worked on.

template(name='contactText')
  // Contact Text
  div(class='hero-text')
    h1(animation-id='1')
      span(class='greetings')
    p(animation-id='2') Don't be shy! Feel free to ask me anything.