// Base Color
$white: #FFFFFF;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);

// Theme Color
$accent: #2196F3;
$secondary: #F37E21;