// Base Setting
$base-background: #F3F3F3;
$base-color: $gray;
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: em(26);

// Layout Settings
$background: #F3F3F3;
$width: 90%;
$max-width: 1920px;

// Container Settings
$container-max-width: 1280px;
$columns: 12;
$gutters: 24px;