template(name='nav')
  nav.nav: ul
    li(class="{{isActiveRoute 'Home'}}"): a(href="{{pathFor 'Home'}}") Home
    li: a(href='http://andy.design') Freebies
    li: a(href='https://represent.io/andy') Resume
    li(class="{{isActiveRoute 'Contact'}}"): a(href="{{pathFor 'Contact'}}") Contact